# Dependencias de Node.js
node_modules/

# Archivos de entorno
.env
*.env

# Archivos generados por Electron
dist/
out/

# Logs y caché
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/

# Configuraciones del IDE/Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Archivos de Python
__pycache__/
*.pyc
venv/
.venv/

# Archivos generados por el compilador
compiler/ast_visual.png
compiler/ast.txt
compiler/errores_semanticos.txt
compiler/errores_sintacticos.txt
compiler/errores_lexicos.txt
compiler/tabla_de_simbolos.json
compiler/salida.html
compiler/tokens.txt
compiler/errores.txt
compiler/programa.ll
compiler/programa_opt.ll
compiler/programa.s
compiler/programa
compiler/run.command

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de construcción
build/
dist/